.App {
  display: flex;
  align-items: center;
  justify-content: center;
}


.data-table{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table{
  border: 1px solid black;
  padding: 10px;
  margin: 1rem; 
  max-height: 400px;
  width: 70%;
  border-left: none;
  border-right: none;
}

th{
  text-align: left !important;
  margin: auto;
}


.search-select{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.fixed{
  /* margin-top: 2rem;
  position: absolute;
  z-index: 0; */
}

.table-body{
  height: 40px;
  overflow-y: scroll;
}